.nyn-text {
  color: var(--COLOR_TEXT);
}

.nyn-text-muted {
  color: gray;
}

.nyn-text-primary {
  color: var(--COLOR_PRIMARY);
}

.nyn-background {
  background-color: var(--COLOR_BACKGROUND) !important;
}

.nyn-background-card {
  background-color: var(--COLOR_CARD) !important;
}

.nyn-background-muted {
  background-color: gray !important;
}

.nyn-background-border {
  background-color: var(--COLOR_BORDER) !important;
}

.nyn-background-primary {
  background-color: var(--COLOR_PRIMARY) !important;
}

.nyn-background-overlay {
  background-color: var(--COLOR_OVERLAY) !important;
}

.nyn-border {
  border: 1px solid var(--COLOR_BORDER) !important;
}

.nyn-border-top {
  border-top: 1px solid var(--COLOR_BORDER) !important;
}

.nyn-border-bottom {
  border-bottom: 1px solid var(--COLOR_BORDER) !important;
}

.nyn-border-right {
  border-right: 1px solid var(--COLOR_BORDER) !important;
}

.nyn-border-left {
  border-left: 1px solid var(--COLOR_BORDER) !important;
}

.nyn-tab-active {
  color: var(--COLOR_PRIMARY) !important;
  border-bottom: 3px solid var(--COLOR_PRIMARY) !important;
}

.nyn-tab-inactive {
  color: var(--COLOR_TEXT) !important;
  border-bottom: 3px solid transparent !important;
}
