.text-muted {
  color: gray;
}

.text {
  color: var(--COLOR_TEXT);
}

.text-primary {
  color: var(--COLOR_PRIMARY) !important;
}

.background {
  background-color: var(--COLOR_BACKGROUND) !important;
}

.background-primary {
  background-color: var(--COLOR_PRIMARY) !important;
}

.background-overlay {
  background-color: var(--COLOR_OVERLAY) !important;
}

.card-background {
  background-color: var(--COLOR_CARD) !important;
}

.border {
  border: 1px solid var(--COLOR_BORDER) !important;
}

.border-top {
  border-top: 1px solid var(--COLOR_BORDER) !important;
}

.border-bottom {
  border-bottom: 1px solid var(--COLOR_BORDER) !important;
}

.border-right {
  border-right: 1px solid var(--COLOR_BORDER) !important;
}

.border-left {
  border-left: 1px solid var(--COLOR_BORDER) !important;
}

.tab-active {
  color: var(--COLOR_PRIMARY) !important;
  border-bottom: 3px solid var(--COLOR_PRIMARY) !important;
}

.tab-inactive {
  color: var(--COLOR_TEXT) !important;
  border-bottom: 3px solid transparent !important;
}
