@import './styles/styles.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .masonry {
    column-gap: 5rem;
    row-gap: 5rem;
    column-count: 1;
  }
  .masonry-sm {
    column-gap: 5rem;
    row-gap: 5rem;
    column-count: 1;
  }
  .masonry-md {
    column-gap: 5rem;
    row-gap: 5rem;
    column-count: 2;
  }
  .break-inside {
    break-inside: avoid;
  }
}

:root {
  --COLOR_PRIMARY: #005ee6;
  --COLOR_PRIMARY_DARK: #0043a3;
  --COLOR_PRIMARY_LIGHT: #0069ff;
  --COLOR_BACKGROUND: #f5f5f5;
  --COLOR_CARD: #ffffff;
  --COLOR_TEXT: #050505;
  --COLOR_BORDER: #d3d3d3;
  --COLOR_SHADOW: #d3d3d3;
  --COLOR_OVERLAY: rgba(255, 255, 255, 0.7);
}

[data-theme='dark'] {
  --COLOR_PRIMARY: #005ee6;
  --COLOR_PRIMARY_DARK: #0043a3;
  --COLOR_PRIMARY_LIGHT: #0069ff;
  --COLOR_BACKGROUND: #1f1f1f;
  --COLOR_CARD: #303030;
  --COLOR_TEXT: #f5f5f5;
  --COLOR_BORDER: #505050;
  --COLOR_SHADOW: #cbcbcb;
  --COLOR_OVERLAY: rgba(0, 0, 0, 0.7);
}

body {
  background: var(--COLOR_BACKGROUND);
  font-size: 14px !important;
  font-family: arial, sans-serif !important;
  overflow-x: hidden !important;
}
